# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
backend/venv/
backend/__pycache__/
backend/instance/
backend/.pytest_cache/
backend/database.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project
.vscode/
.DS_Store
node_modules/
dist/
build/

database.db
*.db
